{% extends 'base.html' %}

{% block title %}
Migration - vNet Migration Tool
{% endblock %}

{% block content %}
<div class="container">

    <!-- Hero Section -->
    <div class="jumbotron hero-section bg-primary text-white text-center p-5 mb-5">
        <h1 class="display-4">Hub + Spoke to vWAN Migration</h1>
        <p class="lead">A user-friendly tool to migrate your virtual networks to Azure Virtual WAN.</p>
    </div>

    <form id="migration-form">

        <div class="mb-3">
            <label for="subscription" class="form-label">Select Subscription</label>
            <select class="form-select" id="subscription" required>
                <option value="">Choose a subscription</option>
            </select>
        </div>
        
        <div class="mb-3">
            <label for="vnet" class="form-label">Select vNets</label>
            <select class="form-select" id="vnet" multiple required>
                <option value="">Choose vNets</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="vwan" class="form-label">Select Virtual WAN</label>
            <select class="form-select" id="vwan" required>
                <option value="">Choose a Virtual WAN</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="vhub" class="form-label">Select vWAN Hub</label>
            <select class="form-select" id="vhub" required>
                <option value="">Choose a vWAN Hub</option>
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary" id="migrate-btn">Migrate</button>

    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        // Fetch the available subscriptions
        fetch("/subscriptions")
            .then((response) => response.json())
            .then((subscriptions) => {
                const select = document.getElementById("subscription");
                subscriptions.forEach((sub) => {
                    const option = document.createElement("option");
                    option.value = sub.subscription_id;
                    option.textContent = sub.display_name;
                    select.appendChild(option);
                });
            })
            .catch((error) => console.error("Failed to fetch subscriptions:", error));
    });
    
    // Update vNets dropdown when the subscription is changed
    document.getElementById("subscription").addEventListener("change", (event) => {
        const subscriptionId = event.target.value;
        if (subscriptionId) {
            updateVnets(subscriptionId);
            updateVirtualWans(subscriptionId);
        }
    });
    
    document.getElementById("vwan").addEventListener("change", (event) => {
        const vwanId = event.target.value;
        if (vwanId) {
            updateVwanHubs(vwanId);
        }
    });
    
// Handle form submission
document.getElementById("migration-form").addEventListener("submit", (event) => {
    event.preventDefault();

    const subscriptionId = document.getElementById("subscription").value;
    const vnetSelect = document.getElementById("vnet");
    const selectedVnet = vnetSelect.options[vnetSelect.selectedIndex];
    const vnet = {
        id: selectedVnet.value,
        name: selectedVnet.textContent,
        resource_group: selectedVnet.dataset.resourceGroup,
    };
    const vwanHub = document.getElementById("vhub").value;
    const propagateRouteTables = true; // setting the default value
    const vnetResourceGroup = document.getElementById("vnet-resource-group").value; // Get the vNet resource group value
    const vwanResourceGroup = document.getElementById("vwan-resource-group").value; // Get the vWAN resource group value

    fetch("/migrate", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify({
            subscription_id: subscriptionId,
            vnet: vnet, // Pass the selected vNet as a single object
            vwan_hub_name: vwanHub,
            vnet_resource_group: vnetResourceGroup, // Include vNet resource group
            vwan_resource_group: vwanResourceGroup, // Include vWAN resource group
            propagate_route_tables: propagateRouteTables
        }),
    })
    .then((response) => response.json())
    .then((data) => {
        if (data.error) {
            console.error("Failed to migrate:", data.error);
        } else {
            console.log("Migration successful:", data.result);
        }
    })
    .catch((error) => console.error("Failed to send migration request:", error));
});


    
    function updateVnets(subscriptionId) {
        fetch("/vnets", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ subscription_id: subscriptionId }),
        })
            .then((response) => response.json())
            .then((vnets) => {
                const select = document.getElementById("vnet");
                select.innerHTML = "";
                vnets.forEach((vnet) => {
                    const option = document.createElement("option");
                    option.value = vnet.name;
                    option.textContent = vnet.name;
                    option.dataset.resourceGroup = vnet.resource_group;
                    select.appendChild(option);
                });
            })
            .catch((error) => console.error("Failed to fetch vNets:", error));
    }
    
    function updateVirtualWans(subscriptionId) {
        fetch("/virtualwans", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ subscription_id: subscriptionId }),
        })
            .then((response) => response.json())
            .then((virtualwans) => {
                const select = document.getElementById("vwan");
                select.innerHTML = "";
                virtualwans.forEach((vwan) => {
                    const option = document.createElement("option");
                    option.value = vwan.id;
                    option.textContent = vwan.name;
                    select.appendChild(option);
                });
                const vwanId = select.value;
                if (vwanId) {
                    updateVwanHubs(vwanId);
                }
            })
            .catch((error) => console.error("Failed to fetch Virtual WANs:", error));
    }
    
    function updateVwanHubs(vwanId) {
        const subscriptionId = document.getElementById("subscription").value;
    
        fetch("/vwanhubs", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ vwan_id: vwanId, subscription_id: subscriptionId }),
        })
            .then((response) => {
                if (!response.ok) {
                    throw new Error("Failed to fetch vWAN Hubs");
                }
                return response.json();
            })
            .then((data) => {
                console.log(`Received data for vWAN Hubs for vWAN ID '${vwanId}':`, data);
                const select = document.getElementById("vhub");
                select.innerHTML = "";
                data.forEach((vhub) => {
                    console.log(`Adding vWAN Hub option: '${vhub.name}'`);
                    const option = document.createElement("option");
                    option.value = vhub.name;
                    option.textContent = vhub.name;
                    select.appendChild(option);
                });
            })
            .catch((error) => console.error("Failed to fetch vWAN Hubs:", error));
    }
    
</script>
{% endblock %}


